@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&amp;subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');

html, body {
	font-family: 'Noto Sans', 'Noto Sans Japanese', sans-serif;
	font-size: 100%;
    color: #2e343b;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	margin: 0 auto;
}


a {
	color: inherit;
}

/* global */

.rtl {
    text-align: right;

    direction: rtl;
}

.button {
    margin: 0;
    padding: 5px 15px;

    cursor: pointer;
    text-decoration: none;

    color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: #6cc655;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(255, 255, 255, 1);

    font-size: 14px;
    font-weight: bold;
    line-height: 17px;

    white-space: nowrap;
    -webkit-appearance: none;
}

.link {
	text-decoration: none;
}

/* login*/

#login, #loading {
	
	margin: 10px;
	text-align: center;
}

#login {
	display: none;
}

/* loading */

/* popup */

.popup {
	display: none;
	min-width: 380px;

}

.popup__header {
	padding: 10px 10px 10px;
	background: #EFEFEF;
}

.popup__content {
	padding: 0px 10px 10px;
}

/* header */

.header {
	display: flex;
	align-items: center;
}

.header__logo {
	margin-left: 3px;
}
.header__toolbar {
	margin-left: auto;
	height: 24px;
}

/* logo */

.logo {

	display: flex;
	align-items: center;
	text-decoration: none
}

.logo:hover {
	cursor: pointer;
	color: #262626;
	text-decoration: underline;
}

.logo__icon {
	height: 24px;
}

.logo__text {
	margin-left: 5px;
	font-size: 12px;
	font-weight: 500;
    color: #262626;
}

/* toolbar */

.toolbar {
	display: flex;
}

.toolbar__item {
	display: inline;
	position: relative;
	margin-left: 6px;
}

.toolbar__item--state_animate {
	transform: rotate(360deg);
	transition: transform 1s ease-in-out;
}

.toolbar__item:hover {
	cursor: pointer;
	background: #EEEEEE;
}

.toolbar__item:hover svg path {
	fill: #262626;
	transition: all 0.4s ease-in-out;
}

.toolbar__action {
	 width:20px;
	 height:20px;
	 vertical-align: middle;
	 padding: 2px;
}

.js-toolbar__action--expand.toolbar__item--state_animated .toolbar__action{
	transform: rotate(90deg);
	transition: transform 0.2s ease-in-out;
}

/* feed */

.feed--empty {
	margin-top: 10px;
	font-weight: 600;
	font-size: 1.4rem;
	text-align: center;
    padding: 10px 0;
}

.article {
	border-top: 1px solid #EFEFEF;
    -webkit-font-smoothing: antialiased;
    padding: 0 10px 0;
    position: relative;
    margin: 0 -10px ;
}

.article:hover {
	background: #F6F6F6;
}

.article--saved {
	background: #F3FAF2
}

.article--saved .article__toolbar {
	width: 30px;
}

.article--saved .article__toolbar .toolbar__item:first-child svg path {
	fill: #6CC655;
}

.article__header {
	display: flex;
	overflow: hidden;
}

.article__header:hover {
	cursor: pointer;

}

.article__title {
	margin: 0;
    padding: 7px 0;
    font-size: 1.19rem;
    font-weight: bolder;
    line-height: 1.5;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 1;
}

.article__details {
	font-size: 1.12rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 7px;
}

.article__toolbar{
	position: absolute;
    top: 0;
    right: 0;
   	width: 0;
   	margin-top: calc(7px + (1.19rem * 1.5)/2 - 12px);
}

.article:hover .article__toolbar {
    width: auto;
    background: #F6F6F6;
}

.article__toolbar .toolbar__item:last-child {
	margin-right: 5px;
}

.article__content {
	display: none;
	margin-top: 2px;
	padding-bottom: 5px;
}

.article--expanded .article__content {
	display: block;
}

.article__content figure {
	margin-left: 0;
	margin-right: 0;
}

.article__content img {
	max-width: 100%;
	width: auto;
	height: auto;
}

.article__content iframe {
    max-width: 100% !important;
    height: auto !important;
}

.article__content p {
	line-height: 1.5em;
}

.source {
	display: flex;
	align-items: center;
}

.source__icon {
	width: 16px;
	height: 16px;
}

.source__text, .article__date {
	color: #777;
}

.source__text {
	padding-left: 5px;
	font-weight: 700;1
}

/* categories */

.categories {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 12px;
	margin: 7px 0;
}

.categories__category {
	margin: 0 2px;
	padding: 5px;
}

.feed-category {

}

.feed-category:hover {
	cursor: pointer;
	background: #EEEEEE;
}

.feed-category--selected {
	background: #EEEEEE;
	font-weight: 600;
}

/* tabs */

.tab-container {
	font-size: 13px;
	display: flex;
	margin:  2px -10px 0;
	padding: 0 10px;
	border-bottom: 2px solid #EEEEEE;
}

.tab-container__item {
	padding: 5px 15px;
	margin: 0 1px -2px 0;
}

.tab {

}

.tab:hover {
	cursor: pointer;
	color: #262626;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color:  #262626;
	transition: border-bottom-color 0.4s ease-in-out;
}

.tab--selected {
	color: #262626;
	font-weight: 600;
	border-bottom: 2px solid #262626;
}
